<launch>
    <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen">    
  	<param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
  </node>

	<node name="PlannerNode" pkg="turtlebot_nav" type="PlannerNode.py" output="screen" required="true"/>

	<node name="turtlebot_nav" pkg="turtlebot_nav" type="turtlebot_nav" output="screen" required="true">
		<param name="mode"  type="string" value="TEST" />
		<param name="num_episodes" type="int" value="20" />
		<param name="max_steps" type="int" value="1000" />
	</node>

	
	
</launch>
